body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    font-family: system-ui;
}

.Header {
    z-index: 1;
    height: 4rem;
    width: 100%;
    background-color: black;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%)
}

.Header-icon {
    margin: 0 2rem 0 4rem;
    height: 2.5rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}

.Menu-item {
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    font-size: medium;
    margin: 0 1rem;
}

.Menu-item:hover {
    color: #ffffffdd;
}

.Sort-title {
    font-size: larger;
    border-left-width: 0.3rem;
    border-left-style: solid;
    padding: 0 0 0 1rem;
    margin: 1.5rem 0;
}

.Course {
    margin: auto;
    padding-block-start: 4rem;
    padding-block-end: 4rem;
    /* scroll-behavior: smooth; */
}

.Card {
    width: 17rem;
    height: 120px;
    border-left-width: 0.3rem;
    border-left-style: solid;
    padding: 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px #00000021;
    transition: box-shadow 300ms ease-out;
}

.Card-title {
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.Card-content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.Card-content-btn {
    border: 0;
    padding: 3% 8% 3% 8%;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
    font-size: medium;
}
.Card-content-btn-link{
    text-decoration: none;
    color: white;
    position: relative;
}

.Card-content-btn-link::before {
    content: "";
    position: absolute;
    top: -7.3rem;
    /* background-color: aliceblue; */
    right: -3rem;
    bottom: -2.1rem;
    left: -15rem;
}

.Course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 1.3rem 1rem;
    width: 63rem;
    margin-block-end: 1rem;
}


.Card-content-icon {
    flex: auto;
    height: 2.5rem;
    width: 2.5rem;
}

.Card-extra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: gray;
    font-size: small;
    font-weight: lighter;
    row-gap: 0.3rem
}

.Card-extra-time,.Card-extra-updated{
    text-align: end;
}
.Card-extra-updated{
    width: 100%;
}

.Card-extra-author,.Card-extra-time{
    width: 50%;
}

.Index {
    margin: 4rem 0 0 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.Intro-title {
    color: white;
    width: 100%;
    font-size: xxx-large;
    font-weight: bolder;
    margin-block: 2rem;
    animation-delay: 80ms !important;
}

.Intro-desp {
    color: white;
    font-weight: lighter;
    margin: 1rem 0;
    max-inline-size: 65%;
    text-transform: capitalize;
    animation-delay: 160ms !important;
}

.Introduction {
    left: 10%;
    right: 10%;
    /* top: 30%; */
    position: absolute;
}

.Intro-title,.Intro-desp,.Intro-btn{
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

.Intro-btn {
    font-size: medium;
    padding: 0.8rem 0.8rem;
    border-radius: 2rem;
    border: 0;
    margin-block-start: 1rem;
    animation-delay: 240ms !important;
}

.Footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

.Intro-btn-link {
    text-decoration: none;
    padding: 0.8rem;
    color: black;
}

.Index-cover-img {
    width: 100%;
    height: auto;
}

.Index-cover {
    position: absolute;
    right: 10%;
    width: 20%;
}

.not-allow>a {
    cursor: default;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover {
    color: cornflowerblue;
}

@media screen and (max-width:1008px) and (min-width:668px) {
    .Course-list {
        width: 41.6rem;
    }
}

@media screen and (max-width:668px) and (min-width:324px) {
    .Header-icon {
        margin: auto;
    }
    .Header-menu{
        display: none;
    }
    
    .Course-list {
        width: auto;
        flex-direction: column;
    }
    
    .Intro-title {
        font-size: xx-large;
    }
    
    .Intro-desp {
        max-inline-size:100%;
    }
    
    .Index-cover{
        display: none;
    }
}

@media screen and (max-width:324px) {
    .App {
        overflow: hidden;
    }
    
    .Header-icon {
        margin: auto;
    }
    .Header-menu{
        display: none;
    }
    
    .Course-list {
        width: auto;
        flex-direction: column;
    }
    
    .Intro-title {
        font-size: xx-large;
    }
    
    .Intro-desp {
        max-inline-size:100%;
    }
    
    .Index-cover{
        display: none;
    }
}